@import '../variables.scss';


.home {
    &__filter-posts {


    }
    &__select-filter {
        padding: 10px 50px;
        font-size: 18px;
        font-weight: 700;
        display: inline-block;
        color: $secondaryColor;
        cursor: pointer;
        position: relative;
        &.active {
            color: rgb(80 114 214);

            &::after{
                content: '';
                height: 70%;
                left: 0;
                width: 3px;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                background-color: rgb(80 114 214);
            }
            &::before {
                z-index: -1;
                border-radius: 3px;
                content: '';
                height: 70%;
                left: 0;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                background-color: lighten(rgb(80 114 214), 30%);
            }
        }
       &:hover {
        color:  rgb(80 114 214);
       }
    }
}